/*
Stylesheet for GOK tree used in nkwgok Typo3 plug-in.

2011-03 by Sven-S. Porst, SUB Göttingen <porst@sub.uni-goettingen.de>
*/


/*
Styles for the GOK Tree
*/
.gokTreeContainer a {
	text-decoration: none;
	border: 0px none;
	position: relative;
}

.gokTreeContainer ul {
	list-style-type: none;
	padding-left: 0em;
}

.gokTreeContainer ul ul {
	margin: 0em 0em 0em 1em;
}

.gokTreeContainer a:link:hover {
	text-decoration: underline;
}

.gokTreeContainer.newStyle a .GOKID {
	display:block;
	float:left;
	width: 6em;
	text-align: right;
	color: #999;
	padding-right:0.2em;
}

.gokTreeContainer.newStyle .GOKName {
	font-weight: bold;
}

.gokTreeContainer.newStyle .opacLink {
	font-size: 71%;
	font-style: italic;
	color: #999;
}

.gokTreeContainer.newStyle .opacLink:link:after {
	content: "\002192";
	padding-left: 0.2em;
}

.gokTreeContainer.newStyle .opacLink:hover {
	color: #333;
}

.gokTreeContainer .plusMinus, .gokTreeContainer .GOKID {
	font-family: monospace;
}

.gokTreeContainer.hideGOKID li .GOKID {
	display:none;
}


/*
Styles for the GOK Menu
*/
.gokMenuForm select {
	width: 50%;
	display:block;
}
