/*
Stylesheet for GOK tree used in nkwgok TYPO3 plug-in.

2011 by Sven-S. Porst, SUB Göttingen <porst@sub.uni-goettingen.de>
*/


/*
Styles for the GOK Tree
*/
.gokContainer.tree a {
	text-decoration: none;
	border: 0px none;
	position: relative;
}

.gokContainer.tree ul {
	list-style-type: none;
	padding-left: 0em;
}

.gokContainer.tree ul ul {
	margin: 0em 0em 0em -7.5em;
}

.gokContainer.tree ul li {
	padding-left: 9em;
	text-indent: -9em;
}

.gokContainer.tree a:link:hover {
	text-decoration: underline;
}

.gokContainer.tree a .GOKID {
	font-weight: normal;
	display:block;
	float:left;
	width: 6em;
	text-align: right;
	color: #999;
	position: relative;
	left: -9.5em;
}

.gokContainer.tree.hideGOKID ul li {
	padding-left: 3em;
	text-indent: -3em;
}

.gokContainer.tree.hideGOKID ul ul {
	margin: 0em 0em 0em -1em;
}

.gokContainer.tree.hideGOKID .GOKID {
	display:none;
}

.gokContainer.tree .rootNode .GOKID {
	left: -0.5em;
}

a:hover .GOKID {
	text-decoration: none;
	color: #666;
}


.gokContainer.tree .plusMinus, .gokTreeContainer .GOKID {
	font-family: monospace;
}

.gokContainer.tree .GOKName {
	font-weight: bold;
}

.gokContainer.tree .opacLink {
	font-size: 71%;
	font-style: italic;
	color: #999;
}

.gokContainer.tree .opacLink.shallow {
	display: none;
}

.gokContainer.tree .general-items-node .opacLink.shallow {
	display: inline;
}

.gokContainer.tree .general-items-node .opacLink.deep {
	display: none;
}

.gokContainer.tree.shallowLinks .opacLink.shallow {
	display: inline;
}

.gokContainer.tree.shallowLinks .opacLink.deep {
	display: none;
}

.gokContainer.tree.shallowLinks .general-items-node {
	display: none;
}

.gokContainer.tree .opacLink:link:after {
	content: "\002192";
	padding-left: 0.2em;
}

.gokContainer.tree .opacLink:hover {
	color: #333;
}

.gokContainer.tree .rootNode .plusMinus.nkwgok-invisible {
	display: none;
}



/*  Styles for the GOK Columns  */

.gokContainer.column {
    background: #eee;
    overflow: visible;
}

.gokContainer.column ul {
    position: relative;
    width: 22%;
    margin: 0;
    padding: 0 10px 0 0 ;
    list-style-type: none;
    background: #eef;
    border-left: 1px solid #999;
}

.gokContainer.column ul ul {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
    background: #ffe;
}

.gokContainer.column li {
	margin: 0;
    border-bottom: 1px dotted #999;
}

.gokContainer.column li a {
    display: block;
    padding: 4px 0px 4px 6px;
}

/* Hide unnecessary elements */
.gokContainer.column .plusMinus,
.gokContainer.column a.opacLink,
.gokContainer.column .general-items-node,
.gokContainer.column .rootNode,
.gokContainer.column ul.level-0 .GOKID {
    display: none;
}

.gokContainer.column .close,
.gokContainer.column .selected {
    background: red;
}



/*  Styles for the GOK Menu  */

.gokMenuForm select {
	width: 50%;
	display:block;
}
